* {
  box-sizing: border-box;
}
body{
  margin: 0px;
  --t-primary: #234dca;
  --text-primary-color: var(--t-primary);
  --text-color: #f8f8f8;
  --icon-color: var(--text-color);
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 0.9rem;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  color: var(--text-color);
  --bs-body-bg: #1b1e21!important;
  --dt_color-theme-surf-inv-pry: #f8f8f840;
  --dt_color-theme-surf-inv-pry-hover: #f8f8f814;
  --dt_blend-mode-interaction: lighten;
}

.fs-11 {
  font-size: var(--fs-11)
}

.fs-12 {
  font-size: var(--fs-12)
}

.fs-13 {
  font-size: var(--fs-13)
}

.fs-14 {
  font-size: var(--fs-14)
}

.fs-15 {
  font-size: var(--fs-15)
}

.fs-16 {
  font-size: var(--fs-16)
}

.fs-17 {
  font-size: var(--fs-17)
}

.fs-18 {
  font-size: var(--fs-18)
}

.fs-19 {
  font-size: var(--fs-19)
}

.fs-20 {
  font-size: var(--fs-20)
}

.fs-22 {
  font-size: var(--fs-22)
}

.fs-23 {
  font-size: var(--fs-23)
}

.fs-24 {
  font-size: var(--fs-24)
}

.fs-25 {
  font-size: var(--fs-25)
}

.fs-26 {
  font-size: var(--fs-26)
}

.fs-27 {
  font-size: var(--fs-27)
}

.fs-28 {
  font-size: var(--fs-28)
}

.fs-29 {
  font-size: var(--fs-29)
}

.fs-30 {
  font-size: var(--fs-30)
}

.fs-31 {
  font-size: var(--fs-31)
}

.fs-32 {
  font-size: var(--fs-32)
}

.fs-33 {
  font-size: var(--fs-33)
}

.fw-2 {
  font-weight: var(--fw-200)!important
}

.fw-3 {
  font-weight: var(--fw-300)!important
}

.fw-4 {
  font-weight: var(--fw-400)!important
}

.fw-5 {
  font-weight: var(--fw-500)!important
}

.fw-6 {
  font-weight: var(--fw-600)!important
}

.fw-7 {
  font-weight: var(--fw-700)!important
}

.fw-8 {
  font-weight: var(--fw-800)!important
}

.subtitle-1,.title-1 {
  --text-font: var(--fs-25)
}

.subtitle-1,.subtitle-2,.title-1,.title-2 {
  font-size: var(--text-font);
  font-weight: var(--fw-700)
}

.subtitle-2,.title-2 {
  --text-font: var(--fs-24)
}

.subtitle-3,.title-3 {
  --text-font: var(--fs-22)
}

.subtitle-3,.subtitle-4,.title-3,.title-4 {
  font-size: var(--text-font);
  font-weight: var(--fw-700)
}

.subtitle-4,.title-4 {
  --text-font: var(--fs-20)
}

.subtitle-5,.title-5 {
  --text-font: var(--fs-18);
  font-size: var(--text-font);
  font-weight: var(--fw-600)
}

.subtitle-6,.title-6 {
  --text-font: var(--fs-16)
}

.subtitle-6,.subtitle-7,.title-6,.title-7 {
  font-size: var(--text-font);
  font-weight: var(--fw-700)
}

.subtitle-7,.title-7 {
  --text-font: var(--fs-14)
}

.subtitle-8,.title-8 {
  --text-font: var(--fs-12);
  font-size: var(--text-font);
  font-weight: var(--fw-700)
}

.text-primary {
  ---text-color: var(--t-primary);
  color: var(--text-color)
}

.text-primary-1 {
  ---text-color: var(--second-primary)
}

.client_container{
  width: 100vw;
  height: 100vh;
  display: grid;
}
.client_container .layout_wrapper{
  width: 100vw;
  height: 100vh;
  min-width: 668px;
  position: relative;
}
.p-theme_background {
  background: radial-gradient(circle at 50% 50%, rgb(var(--dt_color-plt-gray-10)) 20%, transparent 80%), conic-gradient(from 45deg at 50% 50%, rgb(var(--dt_color-plt-gray-0)) 0%, rgb(var(--dt_color-plt-gray-10)) 25%, rgb(var(--dt_color-plt-gray-0)) 50%, rgb(var(--dt_color-plt-gray-10)) 75%, rgb(var(--dt_color-plt-gray-0)) 100%);
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.client_container .client_workspace_wrapper{
  width: 100vw;
  height: calc(100vh - 40px);
  display: grid;
}
.active-managed-focus-container{display: contents;}
.client_container .top_nav--windows{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-right: 4px;
  display: flex;
  position: relative;
}
.top_nav__native_ui_spacer {
  flex: none;
  width: 70px;
  height: 40px;
  margin-right: auto;
  -webkit-app-region: no-drag;
}
.p-flexpane__preview-mode-overlay {
  opacity: .3;
  z-index: 1000;
  background: #1d1c1d;
  width: 100%;
  height: 100%;
  position: absolute;
}
.hidden {
  visibility: hidden;
  display: none;
}
.top_nav__container_wrapper, .top_nav__left_container--start, .top_nav__left_container--end {
  flex: auto;
  align-items: center;
  display: flex;
}
.top_nav__left_container.flex-basis{
  flex-basis: 308.64px;
}
.top_nav__left_container{
  
  -webkit-app-region: drag;
  flex-direction: row;
  flex: none;
  display: flex;
  position: relative;
}
.top_nav__left_container:after {
  content: "";
  width: 8px;
  top: 0;
  bottom: 0;
  left: 0;
}
.top_nav__left_container--end{    justify-content: flex-end;    margin-right: 8px;}
.top_nav__left_container--start, .top_nav__left_container--end{
  flex-basis: 308.64px;
}
.history_buttons{
  align-items: center;
  gap: 4px;
  display: flex;
  -webkit-app-region: no-drag;
}
.history_menu_button{
  align-items: center;
  gap: 4px;
  display: flex;
  -webkit-app-region: no-drag;
  margin-left: 4px;
    margin-right: 0;
}
.common_icon {
  --height: 20px;
  --width: 20px;
  --text-primary-color: var(--icon-color);
  --icon-url: none;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--text-primary-color);
  position: relative;
  -webkit-mask-image: var(--icon-url);
  mask-image: var(--icon-url);
  --webkit-mask-image: var(--icon-url);
  -webkit-mask-size: contain;
  mask-size: contain;
  height: var(--height);
  width: var(--width);
  display: inline-flex;
}
.btn.button{
  --fr-secondary-p-border-color: #eee;
  --btn-hover-b-color: transparent;
  --bs-btn-color: var(--text-color);
  --bs-btn-font-size: var(--fs-14);
  --bs-btn-font-weight: var(--fw-500);
  --bs-btn-line-height: 1.5;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
  --t-active-primary: var(--t-primary);
  --background: transparent;
  background: var(--background);
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: var(--btn-hover-b-color) !important;
  --bs-btn-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(0,0,0,.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-font-sans-serif);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, var(--fr-transition);
  color: var(--bs-btn-color);
  --bs-btn-active-border-color: transparent;
}
.btn-icon.btn{
  --height: 26px;
  --width: 26px;
  height: var(--height);
  width: var(--width);
  --bs-btn-padding-x: 3px;
  --bs-btn-padding-y: 3px;
}
.btn-icon .common_icon{--height: 100%; --width: 100%}
.deg-90{rotate: 90deg;}
.deg-120{rotate: 120deg;}
.deg-180{rotate: 180deg;}
.top_nav__middle_container{
  flex: 2 1 0;
  min-width: 280px;
  max-width: 1000px;
}
.p-top_nav__search__container{
  background-color: var(--dt_color-theme-surf-inv-pry);
  background-blend-mode: var(--dt_blend-mode-interaction);
  background-image: linear-gradient(var(--dt_color-theme-surf-inv-pry-hover), var(--dt_color-theme-surf-inv-pry-hover));
  border-color: #0000;
  border-radius: 6px;
  align-items: center;
  max-width: 100%;
  display: flex;
  -webkit-app-region: no-drag;
  position: relative;
}
.p-top_nav__search{
  justify-content: left;
  max-width: 100%;
  height: 28px;
  border-radius: 4px;
  color: var(--text-color);
  --saf-0: rgba(var(--sk_foreground_mid,29,28,29),.3);
  box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 #00000014;
  background: 0 0;
  border-radius: 6px;
  flex-direction: row-reverse;
  flex: 5;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  max-width: 732px;
  height: 26px;
  padding: 0 8px;
  display: flex;
}
.top_nav__right_container {
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4px;
  display: flex;
}