* {
  box-sizing: border-box;
}
body{
  margin: 0px;
  --t-primary: #8621ae;
  --t-primary-1: #6c1b8d;
  --text-primary-color: var(--t-primary);
  --text-color: #f8f8f8;
  --icon-color: var(--text-color);
  --fs-11: 11px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-23: 23px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  color: var(--text-color);
  --bs-body-bg: #1b1e21!important;
  --dt_blend-mode-interaction: lighten;
  --border-color: #797c814d;
  --bs-border-color: var(--border-color);
  --bg-secondary-color:#10121499;
  --bs-secondary-color: var(---text-color);
  --bs-body-color: var(--text-color);
  --bs-body-font-size: var(--fs-13);
  height: 100vh!important;
  width: 100vw!important;
  overflow: hidden!important;
  --bs-secondary-color: white;
  --bg-secondary-hover-color: white;
  --padding: .7349rem .75rem;
  --fr-form-border: #797c814d;
  --transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  --button-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  --select-padding: var(--padding);
  --select-menu-color: white;
  --select-menu-select-color: white;
  --select-menu-select-bg: #3573c2;
  --select-menu-focus-color: white;
  --select-menu-focus-bg: #666d75;
  --select-menu-item-bg-color: #383d41;
  --select-menu-bg-color: #383d41;
  --bg-avatar-sender:#4c4e51;
  --bg-message-hover:#222529;
  --secondary-2:#ababad;
  --secondary-3:#d1d2d3;
  --bg-date:#1a1d21;
}
.white-theme{background-color: var(--bs-body-bg);color: var(--text-color);scrollbar-width: 0px;padding: 0px;font-size: 0.8em;}
.white-theme::-webkit-scrollbar{width: 0px;}
.radius-1 {--border-radius:4px;}
.radius-2 {--border-radius:6px;}
.radius-3 {--border-radius:8px;}
.radius-4 {--border-radius:10px;}
.radius-5 {--border-radius:12px;}
.radius-6 {--border-radius:14px;}
.radius-7 {--border-radius:16px;}
.radius-8 {--border-radius:18px;}
.radius-9 {--border-radius:20px;}
.radius-10 {--border-radius:22px;}

.fs-11 {font-size: var(--fs-11)}
.fs-12 {font-size: var(--fs-12)}
.fs-13 {font-size: var(--fs-13)}
.fs-14 {font-size: var(--fs-14)}
.fs-15 {font-size: var(--fs-15)}
.fs-16 {font-size: var(--fs-16)}
.fs-17 {font-size: var(--fs-17)}
.fs-18 {font-size: var(--fs-18)}
.fs-19 {font-size: var(--fs-19)}
.fs-20 {font-size: var(--fs-20)}
.fs-22 {font-size: var(--fs-22)}
.fs-23 {font-size: var(--fs-23)}
.fs-24 {font-size: var(--fs-24)}
.fs-25 {font-size: var(--fs-25)}
.fs-26 {font-size: var(--fs-26)}
.fs-27 {font-size: var(--fs-27)}
.fs-28 {font-size: var(--fs-28)}
.fs-29 {font-size: var(--fs-29)}
.fs-30 {font-size: var(--fs-30)}
.fs-31 {font-size: var(--fs-31)}
.fs-32 {font-size: var(--fs-32)}
.fs-33 {font-size: var(--fs-33)}
.fw-2 {font-weight: var(--fw-200)!important}
.fw-3 {font-weight: var(--fw-300)!important}
.fw-4 {font-weight: var(--fw-400)!important}
.fw-5 {font-weight: var(--fw-500)!important}
.fw-6 {font-weight: var(--fw-600)!important}
.fw-7 {font-weight: var(--fw-700)!important}
.fw-8 {font-weight: var(--fw-800)!important}
.subtitle-1,.title-1 {--text-font: var(--fs-25)}
.subtitle-1,.subtitle-2,.title-1,.title-2 {font-size: var(--text-font);font-weight: var(--fw-700)}
.subtitle-2,.title-2 {--text-font: var(--fs-24)}
.subtitle-3,.title-3 {--text-font: var(--fs-22)}
.subtitle-3,.subtitle-4,.title-3,.title-4 {font-size: var(--text-font);font-weight: var(--fw-700)}
.subtitle-4,.title-4 {--text-font: var(--fs-20)}
.subtitle-5,.title-5 {--text-font: var(--fs-18);font-size: var(--text-font);font-weight: var(--fw-600)}
.subtitle-6,.title-6 {--text-font: var(--fs-16)}
.subtitle-6,.subtitle-7,.title-6,.title-7 {font-size: var(--text-font);font-weight: var(--fw-700)}
.subtitle-7,.title-7 {--text-font: var(--fs-14)}
.subtitle-8,.title-8 {--text-font: var(--fs-12);font-size: var(--text-font);font-weight: var(--fw-700)}
.text-primary {---text-color: var(--t-primary);color: var(--text-color)}
.text-primary-1 {---text-color: var(--second-primary)}
.client_container{width: 100vw;height: 100vh;display: grid;}
.client_container .layout_wrapper{width: 100vw;height: 100vh;min-width: 668px;position: relative;}
.p-theme_background {  background: radial-gradient(circle at 50% 50%, rgb(var(--dt_color-plt-gray-10)) 20%, transparent 80%), conic-gradient(from 45deg at 50% 50%, rgb(var(--dt_color-plt-gray-0)) 0%, rgb(var(--dt_color-plt-gray-10)) 25%, rgb(var(--dt_color-plt-gray-0)) 50%, rgb(var(--dt_color-plt-gray-10)) 75%, rgb(var(--dt_color-plt-gray-0)) 100%);  width: 100vw;  height: 100vh;  position: absolute;}
.client_container .client_workspace_wrapper{width: 100vw;height: calc(100vh - 40px);display: grid;}
.active-managed-focus-container{display: contents;}
.client_container .top_nav--windows{justify-content: space-between;align-items: center;width: 100%;height: 40px;padding-right: 4px;display: flex;position: relative;}
.top_nav__native_ui_spacer {flex: none;width: 70px;height: 40px;margin-right: auto;-webkit-app-region: no-drag;}
.p-flexpane__preview-mode-overlay {opacity: .3;z-index: 1000;background: #1d1c1d;width: 100%;height: 100%;position: absolute;}
.hidden {visibility: hidden;display: none;}
.top_nav__container_wrapper, .top_nav__left_container--start, .top_nav__left_container--end {flex: auto;align-items: center;display: flex;}
.top_nav__left_container.flex-basis{flex-basis: 308.64px;}
.top_nav__left_container{-webkit-app-region: drag;flex-direction: row;flex: none;display: flex;position: relative;}
.top_nav__left_container:after {content: "";width: 8px;top: 0;bottom: 0;left: 0;}
.top_nav__left_container--end{    justify-content: flex-end;    margin-right: 8px;}
.top_nav__left_container--start, .top_nav__left_container--end{flex-basis: 308.64px;}
.p-view_header--with-bookmarks-bar {z-index: 202;background: rgba(var(--sk_primary_background,255,255,255),1);transition: box-shadow .2s linear;}
.history_buttons{align-items: center;gap: 4px;display: flex;-webkit-app-region: no-drag;}
.history_menu_button{align-items: center;gap: 4px;display: flex;-webkit-app-region: no-drag;margin-left: 4px;margin-right: 0;}
.common_icon.lsm{--height: 15px;--width: 15px;}
.common_icon.ssm{--height: 16px;--width: 16px;}
.common_icon.xsm{--height: 12px;--width: 12px;}
.common_icon.sm, .common_icon_image.sm{--height: 20px;--width: 20px;}
.common_icon.radius-1  , .common_icon_image.radius-1 img{border-radius: 3px;}
.btn-icon.btn-sm{--height: 26px!important;--width: 26px!important;--bs-btn-padding-y: 4px!important;--bs-btn-padding-x: 4px!important}
.btn-icon.btn-xsm{--height: 20px!important;--width: 20px!important;--bs-btn-padding-y: 2px!important;--bs-btn-padding-x: 2px!important}
.common_icon {--height: 20px;--width: 20px;--text-primary-color: var(--icon-color);--icon-url: none;mask-position: center;-webkit-mask-position: center;mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;background-color: var(--text-primary-color);position: relative;-webkit-mask-image: var(--icon-url);mask-image: var(--icon-url);--webkit-mask-image: var(--icon-url);-webkit-mask-size: contain;mask-size: contain;height: var(--height);width: var(--width);display: inline-flex;transition: var(--button-transition);}
.common_icon_image{--height: 26px; --width: 26px;height: var(--height);width: var(--width);display: inline-flex;align-items: center;justify-content: center;}
.common_icon_image .picture-opacity-1 img{height: 100%;width: 100%;object-fit: contain;}
.common_icon_image.md{--height: 36px;--width: 36px;}
.common_icon_image.xl{--height: 50px;--width: 50px;}
.common_icon_image.xxl{--height: 80px;--width: 80px;}
.common_icon_image.xxxl{--height: 100px;--width: 100px;}
body .dropdown{display: contents;}
.btn.button, body .dropdown .btn.dropdown-toggle {--bs-btn-padding-x: 0.75rem;--bs-btn-padding-y: 3.562457px;--fr-secondary-p-border-color: #eee;--bs-btn-color: var(--text-color);--bs-btn-font-size: var(--fs-13);--bs-btn-font-weight: var(--fw-500);--bs-btn-line-height: 1.5;--bs-btn-color: var(--text-color);--bs-btn-bg: transparent;--bs-btn-border-color: transparent;--bs-btn-hover-color: var(--bs-btn-color);--bs-btn-hover-bg: var(--bs-btn-bg);--bs-btn-hover-border-color: var(--bs-btn-border-color);--bs-btn-focus-shadow-rgb: 130, 138, 145;--bs-btn-active-color: var(--bs-btn-color);--bs-btn-active-bg: var(--bs-btn-bg);--bs-btn-active-border-color: var(--bs-btn-border-color);--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);--bs-btn-disabled-color: var(--bs-btn-color);--bs-btn-disabled-bg:  var(--bs-btn-bg);--bs-btn-disabled-border-color: var(--bs-btn-border-color);--bs-btn-border-radius: 0.5rem;padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;background: var(--background);display: inline-flex;align-items: center;justify-content: center;padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);font-family: var(--bs-font-sans-serif);font-size: var(--bs-btn-font-size);font-weight: var(--bs-btn-font-weight);line-height: var(--bs-btn-line-height);text-align: center;text-decoration: none;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;user-select: none;border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);border-radius: var(--bs-btn-border-radius)!important;background-color: var(--bs-btn-bg);transition: color .15s ease-in-out, background-color .15s ease-in-out, var(--fr-transition);color: var(--bs-btn-color);--bs-btn-active-border-color: transparent;transition: var(--button-transition);}
.button.btn-md{--bs-btn-padding-x: 0.75rem;--bs-btn-padding-y: 7px;}
.button.btn-lg{--bs-btn-padding-x: 1.25rem;--bs-btn-padding-y: 7px;--bs-btn-font-size: var(--fs-15)}
.btn.btn-primary{--bs-btn-color: var(--bs-secondary-color);--bs-btn-bg: var(--primary-theme);--bs-btn-border-color: transparent;--fr-secondary-p-border-color: transparent}
.btn.btn-primary-theme{--bs-btn-color: var(--bs-secondary-color);--bs-btn-bg: var(--primary-theme);--bs-btn-border-color: transparent;--fr-secondary-p-border-color: transparent}
.btn.btn-green{--bs-btn-color: var(--bs-green-color);--bs-btn-bg: var(--bs-green);--bs-btn-border-color: transparent;--fr-secondary-p-border-color: transparent}
.btn.btn-danger{--bs-btn-color: var(--bs-danger-color);--bs-btn-bg: var(--bs-danger);--bs-btn-border-color: transparent;--fr-secondary-p-border-color: transparent}

body .dropdown .btn.dropdown-toggle.p-0{--bs-btn-padding-y: 0px!important}
body .dropdown .btn.dropdown-toggle{--bs-btn-padding-y: 3px!important;--bs-btn-padding-x: .5rem!important; max-width: 100%;}
body .dropdown .btn.dropdown-toggle::after{display: none;}
.btn.button.btn-secondary{--text-color: var(--bs-secondary-color); --bs-btn-bg: var(--primary-theme);--icon-color:  var(--bs-secondary-color);}
.tabs__tab_content:hover .btn.button.btn-hover-secondary, .btn.button.btn-hover-secondary:hover, .btn.btn-hover-secondary:hover{--bs-btn-bg:var(--primary-theme)!important;--bs-btn-hover-color: var(--bg-secondary-hover-color)!important;--icon-color:var(--bg-secondary-hover-color)!important;transition: var(--button-transition);}
.tabs__tab_content:hover .btn.button.btn-hover-secondary-1, .btn.button.btn-hover-secondary-1.active, .btn.button.btn-hover-secondary-1:hover, .btn.btn-hover-secondary-1:not(.hover-none):hover, .text-button:hover{--bs-btn-bg:var(--primary-theme-hover)!important;--icon-color: var(--text-color)!important;--text-color: var(--bs-white);transition: var(--button-transition);}
.btn.button.rounded{--bs-btn-border-radius:30px}
.btn-icon.btn{--height: 26px;--width: 26px;height: var(--height);width: var(--width);--bs-btn-padding-x: 3px;--bs-btn-padding-y: 3px;}
.btn-icon.btn-lg{--height: 36px;--width: 36px;--bs-btn-padding-x: 6px;--bs-btn-padding-y: 8px;}
.btn-icon.secondary{--bs-btn-bg: var(--primary-theme)!important;--bs-btn-active-bg: var(--primary-theme);}
.btn-icon .common_icon{--height: 100%; --width: 100%}
.deg-90{rotate: 90deg;}
.deg-120{rotate: 120deg;}
.deg-180{rotate: 180deg;}
.top_nav__middle_container{flex: 2 1 0;min-width: 280px;max-width: 635px;}
.p-top_nav__search.btn .common_icon{--icon-color: var(--bs-body-color)}
.p-top_nav__search__container{  background-color: var(--bg-secondary-color);  background-blend-mode: var(--dt_blend-mode-interaction);  background-image: linear-gradient(var(--bg-secondary-color), var(--bg-secondary-color));  border-color: var(--bg-secondary-color);  border-radius: 6px;  align-items: center;  max-width: 100%;  display: flex;  -webkit-app-region: no-drag;  position: relative;}
.p-top_nav__search{justify-content: left;max-width: 100%;height: 28px;border-radius: 4px;color: var(--text-color);--saf-0: rgba(var(--sk_foreground_mid,29,28,29),.3);box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 #00000014;background: 0 0;border-radius: 6px;flex-direction: row-reverse;flex: 5;justify-content: space-between;align-items: center;min-width: 0;max-width: 635px;height: 26px;padding: 0 8px!important;color: var(--bs-body-color)!important;display: flex!important;box-shadow: none;justify-content: flex-end;border-color: transparent!important;}
.top_nav__right_container {flex: 1 0 auto;justify-content: flex-end;align-items: center;margin-right: 4px;display: flex;}
.p-top_nav__search__text{font-size: 13px;line-height: 1.38463;font-weight: initial;text-overflow: ellipsis;white-space: nowrap;margin-right: auto;padding-right: 12px;display: block;overflow: hidden;text-align: left;width: auto;display: inline-block;}
.ellipsis{font-weight: initial;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;text-align: left;width: auto;display: inline-block;}
.avatar{--height: 36px;--width: 36px;height: var(--height);width: var(--width);}
.avatar .picture-opacity-1 {display: contents;}
.avatar .picture-opacity-1 img {height: 100%;width: 100%;}
.tabs__tab_content{width: 52px;font-size: 11px;padding: 8px 0;display: flex;flex-direction: column;row-gap: 4px;align-items: center;font-weight: 700;cursor: pointer;user-select: none;}
.tab-scroller{height: calc(100vh - 218px);overflow: auto;padding: 5px 0px;display: flex;align-items: center;flex-direction: column;}
.tab-scroller::-webkit-scrollbar{width: 0pc;}
.sidebar_header {z-index: 1;justify-content: space-between;padding: 5px 12px 5px 12px;font-size: 18px;font-weight: 900;line-height: 1.33334;display: flex;align-items: center;}
.custome_scroller{background-color: #f1f8fd51;border-radius: 30px;}
.channel_sidebar__static_list{cursor: pointer;border-radius: 6px;padding: 0 8px;}
.channel_sidebar__static_list .button{align-items: center!important;}
.channel_sidebar__static_list .button span{width: 100%;text-align: left;}
.channel_sidebar__static_list .list-sidebar{position: relative;padding-left: 40px!important;}
.channel_sidebar__static_list .list-sidebar .avatar_image{position: absolute;left: 10px;height: 100%;display: flex;align-items: center;justify-content: center;padding: 2px 0px;}
.channel_sidebar__static_list .list-sidebar .avatar_image .common_icon_image.ssm{--height: 20px;--width: 20px}
.common_icon_image .picture-opacity-1 {display: contents;}
/* .channel_sidebar__static_list .list-sidebar .avatar_image i{height: 30px;width: 30px;} */
.channel_sidebar__section_heading{padding: 0 8px;display: flex;align-items: center;}
.channel_sidebar__section_heading .dropdown .dropdown-toggle{max-width: calc(100% - 26px)!important;}

body .tooltip {--bs-tooltip-zindex: 1080;--bs-tooltip-max-width: 200px;--bs-tooltip-padding-x: 0.5rem;--bs-tooltip-padding-y: 0.25rem;--bs-tooltip-margin: ;--bs-tooltip-font-size: calc(var(--bs-body-font-size) - 3px) ;--bs-tooltip-color: var(--bs-body-color);--bs-tooltip-bg: var(--bs-emphasis-color);--bs-tooltip-border-radius: var(--bs-border-radius);--bs-tooltip-opacity: 0.9;--bs-tooltip-arrow-width: 0.8rem;--bs-tooltip-arrow-height: 0.4rem;}
body .fade.show.tooltip.bs-tooltip-bottom{position: fixed!important;}
.d-content{display: inline-block;}
.dropdown-span{display: flex;align-items: center;}
.sidebar_header__title{max-width: calc(100% - 74px);font-size: 18px;}
body .dropdown-menu {--bs-tertiary-bg: var(--bs-dropdown-hover-bg);--bs-dropdown-zindex: 1000;--bs-dropdown-min-width: 10rem;--bs-dropdown-padding-x: 0;--bs-dropdown-padding-y: 12px;--bs-dropdown-spacer: 0.125rem;--bs-dropdown-font-size: var(--bs-body-font-size);--bs-dropdown-color: var(--bs-body-color);--bs-dropdown-bg: var(--bs-body-bg);--bs-dropdown-border-color: var(--bs-border-color-translucent);--bs-dropdown-border-radius: var(--bs-border-radius);--bs-dropdown-border-width: var(--bs-border-width);--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));--bs-dropdown-divider-bg: var(--bs-border-color-translucent);--bs-dropdown-divider-margin-y: 0.25rem;--bs-dropdown-box-shadow: var(--bs-box-shadow);--bs-dropdown-link-color: var(--bs-body-color);--bs-dropdown-link-hover-color: var(--bs-body-color);--bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);--bs-dropdown-link-active-color: var(--bs-body-active-color);--bs-dropdown-link-active-bg: var(--primary-theme);--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);--bs-dropdown-item-padding-x: 1.3rem;--bs-dropdown-item-padding-y: 0.35rem;--bs-dropdown-header-color: #6c757d;--bs-dropdown-header-padding-x: 1rem;--bs-dropdown-header-padding-y: 0.5rem;--width: min-width;}
body .dropdown-toggle span.dropdown-span p{max-width: calc(100% - 12px);text-overflow: ellipsis;white-space: nowrap;display: block;overflow: hidden;width: 100%;}
body .dropdown .dropdown-menu {min-width: var(--width); box-shadow: 0 0 0 1px rgba(var(--sk_foreground_low,29,28,29),.13),0 4px 12px 0 #0000001f;border: none!important;}
body .dropdown .dropdown-menu .avatar~.title-drop{padding-left: 10px;}
body .dropdown-menu .dropdown-item.button{--bs-dropdown-link-hover-bg: var(--bs-dropdown-bg);--bs-dropdown-link-active-bg: var(--bs-dropdown-bg);--bs-dropdown-link-active-color: var(--bs-dropdown-link-color);cursor: default;}
.dropdown .dropdown-item{display: flex;flex-wrap: wrap;align-items: center;}
.dropdown .dropdown-item .title-drop{max-width: calc(100% - 36px);}
body .dropdown .dropdown-divider{border-top-color: rgba(var(--sk_foreground_low,29,28,29),.13);}

.sidebar_header .sidebar_header__title .dropdown,
.sidebar_header .sidebar_header__title .dropdown .dropdown-toggle{max-width: 100%;}
.form_group .form-floating label {color: var(--bs-white)!important;margin-bottom: 0px;user-select: none;}
.form_group .form-floating>.form-control:focus,.form_group .form-floating>.form-control:not(:placeholder-shown){padding-top: 1.5rem;padding-bottom: 0.505rem;}
.form_group .form-floating>.form-control:focus~label,.form_group .form-floating>.form-control:not(:placeholder-shown)~label,.form_group .form-floating>.form-select~label{opacity: .65;transform: scale(.75) translateY(-0.5rem) translateX(0.15rem);}
.form_group .text-danger{font-size:12px}
.form_group .form-label.text-muted{user-select: none;-moz-user-select: none;color: var(--bs-body-color)!important;}
.form_group .form-control:focus {color: var(--bs-body-color);background-color: var(--bs-body-bg);border-color: var(--bs-border-color);outline: 0;box-shadow: none;}
.login-layout .card{--bs-card-bg: var(--bg-secondary-color)}
.form_group .form-control::placeholder{color: var(--text-color)}
.btn-modal-close{position: absolute;right: 10px;top: 10px;}
.modal-content .modal-footer{--bs-modal-footer-border-color: transparent}
.form_group.common-input{font-size: var(--fr-label-font-size);}
.form_group.common-input .custom-select {width: 100%;}
.custom-select .custom-select__indicator-separator {display: none;}
.custom-select .custom-select__indicator {padding: 10px 6px;}
.form-size-sm .custom-select .custom-select__indicator {padding: 4.7px 6px;}
.form-size-sm .custom-select .custom-select__control{min-height: 32.2px;}
.form-size-sm .custom-select .custom-select__control .custom-select__value-container{padding: 4px 8px 4px 14px;}
.form-size-sm .custom-select .custom-select__control .custom-select__value-container .custom-select__input-container{line-height: 1;margin-top: 0px;margin-bottom: 0px;}

.form-size-md .custom-select .custom-select__indicator {padding: 8.7px 6px;}
.form-size-md .custom-select .custom-select__control{min-height: 32.2px;}
.form-size-md .custom-select .custom-select__control .custom-select__value-container{padding: 4px 8px 4px 14px;}
.form-size-md .custom-select .custom-select__control .custom-select__value-container .custom-select__input-container{line-height: 1;margin-top: 0px;margin-bottom: 0px;}
.custom-select .custom-select__menu{background-color: var(--select-menu-bg-color)}
.custom-select .custom-select__indicator svg {fill: var(--text-color);stroke-width: 0px !important;}
.custom-select .custom-select__control {border-radius: var(--bs-border-radius);border-color: var(--fr-border-color);background: var(--fr-body-bg);box-shadow: none !important;}
.custom-select .custom-select__control .custom-select__value-container {padding: 6px 8px 6px 14px;min-width: 54px;}
.custom-select .custom-select__control .custom-select__value-container {padding: 6px 8px 6px 14px;min-width: 54px;}
.custom-select .custom-select__control .custom-select__value-container .custom-select__single-value {color: var(---text-color);font-weight: var(--fw-500);}
.custom-select .custom-select__control .custom-select__value-container .custom-select__placeholder {font-size: var(--fr-font-size);}
.custom-select .input-group>.custom-select {width: 100%;}
.custom-select .custom-select__option{background-color: var(--form-select-option-bg);color: var(--form-select-option);}
.custom-select .custom-select__option.custom-select__option--is-selected {background-color: var(--select-menu-select-bg);color: var(--select-menu-select-color);}
.custom-select .custom-select__option.custom-select__option--is-focused {background-color: var(--select-menu-focus-bg);color: var(--select-menu-focus-color);}
.form_group.common-input.lg .custom-select .custom-select__indicator {padding: 14.2px 6px;}
.custom-select .custom-select__menu {min-width: 110px;}
thead tr th .form-check-input{--form-border: grey; --bs-border-width:1px}
.form_group.common-input {--fr-label-font-size: var(--fs-13);--fr-label-fw: var(--fw-400);--fr-input-fw: 400;--fr-font-size: var(--fs-13);--fr-padding: var(--padding);--fr-line-height: 1.5;--fr-body-bg: transparent;--bs-body-bg: var(--fr-body-bg);--fr-border-width: 1px;--fr-border-color: var(--fr-form-border);--bs-body-color: var(---text-color);}
.form_group.common-input .quill .ql-toolbar.ql-snow{border-radius: var(--bs-border-radius) var(--bs-border-radius) 0px 0px;background-color: #F7F9FD;border-color: var(--fr-border-color);}
.form_group.common-input .quill .ql-container.ql-snow{border-radius: 0px 0px var(--bs-border-radius) var(--bs-border-radius) ;border-color: var(--fr-border-color);}
.form_group.common-input .quill .ql-container.ql-snow .ql-editor{min-height: 200px;}
.form_group.common-input.border-0 .quill .ql-toolbar.ql-snow{border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;}
.form_group.common-input.border-0  .quill .ql-container.ql-snow{border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;}
.form_group.common-input .form-check:not(.form-switch) {display: inline-flex;align-items: center;padding-left: 30px;gap: 0px;position: relative;}
.form_group.common-input .form-check-input:checked {background-color: var(--check-primary);border-color: var(--check-primary);}
.form_group.common-input .form-check-input:focus{    border-color: var(--check-primary);}
.form_group.common-input .form-check:not(.form-switch) .form-check-input{width: 20px;height: 20px;position: absolute;left: 4px;margin: 0px;--bs-border-color:var(--form-border)}
.form_group.common-input.form-light-secondary .input-group, .form_group.common-input.form-light-secondary textarea{--fr-body-bg: #F2F6FB; --fr-border-color:var(--grey-light-color);}
.form_group.common-input.form-size-xsm {--fr-line-height: 1.2;--fr-font-size: 12px;--fr-padding: 3px 7px}
.form_group.common-input.form-size-xsm .input-group-text .common_icon{--height: 18px;--width: 18px;} 
.form_group.common-input.form-size-sm {--fr-line-height: 1.6;--fr-font-size: 13px;--fr-padding: 5px}
.form_group.common-input.form-size-md {--fr-line-height: 1.7;--fr-font-size: 13px;--fr-padding: 7px}
.form_group.common-input.md {--fr-line-height: 1.5;--fr-font-size: var(--fs-15)}
.form_group.common-input.lg {--fr-line-height: 1.5;--fr-font-size: var(--fs-15);}
.form_group.common-input .input-group{flex-wrap: nowrap;}
.form_group.common-input.normal-control .form-control.is-invalid{--fr-border-color:var(--bs-form-invalid-color)}
.form_group.common-input.input_group_icon .input-group,
.form_group.common-input.normal-control .form-control {background: var(--fr-body-bg);border-radius: var(--bs-border-radius);}
.form_group.common-input.normal-control .form-control.otp {width: 50px !important;height: 50px;}
.form_group.common-input.form-group-otp {--fr-font-size: var(--fs-18) !important;--fr-input-fw: 500;}
.form_group.common-input.trans-primary {--fr-body-bg:var(--trans-primary)}
.form_group.common-input.secondary-primary {--fr-body-bg: var(--fr-secondary-primary);--fr-border-color: var(--grey-light-color);}
.form_group.common-input.secondary-primary .form-control:focus,.form_group.common-input.secondary-primary .form-select:focus {--fr-border-color: var(--grey-light-color);}
.form_group.common-input .form-select:focus {box-shadow: none;border-color: var(--fr-border-color);}
.form_group.common-input .form-control {--bs-border-width: var(--fr-border-width);--bs-border-color: var(--fr-border-color);--bs-body-bg: var(--fr-body-bg);display: block;width: 100%;padding: var(--fr-padding);font-size: var(--fr-font-size);font-weight: var(--fr-input-fw);line-height: var(--fr-line-height);color: var(--bs-body-color);-webkit-appearance: none;-moz-appearance: none;appearance: none;background-color: var(--bs-body-bg);background-clip: padding-box;border: var(--bs-border-width) solid var(--bs-border-color);border-radius: var(--bs-border-radius);transition: var(--fr-transition);}
.form_group.common-input .form-control::placeholder{color: #808080;}
.form_group.common-input :not(.is-invalid) .form-control:focus,
.form_group.common-input:focus-within .right_text,
.form_group.common-input:focus-within .left_text {color: var(--bs-body-color);--fr-border-color: var(--fr--hover-border-color);background-color: var(--bs-body-bg);border-color: var(--fr-border-color);outline: 0;box-shadow: none;}
.form_group.common-input .form-select {--bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);display: block;width: 100%;padding: var(--select-padding);font-size: var(--fr-font-size);font-weight: 400;line-height: var(--fr-line-height);color: var(--bs-body-color);-webkit-appearance: none;-moz-appearance: none;appearance: none;background-color: var(--bs-body-bg);background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);background-repeat: no-repeat;background-position: right 0.75rem center;background-size: 16px 12px;border: var(--bs-border-width) solid var(--bs-border-color);border-radius: var(--bs-border-radius);transition: var(--fr-transition);}
.form_group.common-input.form-size-sm   .form-select{--select-padding: 0.3015624rem 2.25rem 0.3015624rem 0.75rem}
input::placeholder,input::-ms-input-placeholder {color: #BFBFCC !important;opacity: 0.6;font-weight: var(--bs-btn-font-weight);}
.form_group.common-input input:focus {box-shadow: none !important;}
.form_group.common-input .right-input,.form_group.common-input .left_text {border-right-color: transparent !important;}
.form_group.common-input .right-input {padding-right: 0px;}
.form_group.common-input .left-input {border-left-color: transparent !important;padding-left: 0px;}
.form_group.common-input .right_text {border-top-left-radius: 0;border-bottom-left-radius: 0;border-left-color: transparent !important;}
.form_group.common-input .right_text,.form_group.common-input .left_text {margin: 0px;--bs-border-color: var(--fr-border-color);--bs-tertiary-bg: var(--fr-body-bg);display: flex;align-items: center;justify-content: center; padding: var(--fr-padding);font-size: 1rem;font-weight: 400;line-height: 1.5;color: var(--bs-body-color);text-align: center;white-space: nowrap;background-color: var(--bs-tertiary-bg);border: var(--bs-border-width) solid var(--bs-border-color);border-radius: var(--bs-border-radius);transition: var(--fr-transition);min-width: 30px;}
.form_group.common-input .form-label, .form-label {font-size: var(--fr-label-font-size);font-weight: var(--fr-label-fw);}
.form_group.common-input.form-validate,.form_group.common-input.form-validate .input-group-text {--fr-border-color: #dc3545 !important;}
.form_group.common-input .right_text:not(:last-child){border-right-color: transparent!important;}
.d-flex-center{display: flex;align-items: center;gap: 5px;}
.p-view_header .d-content .button-down{--height: 16px;--width: 16px;}
.p-view_header{padding: 10px 10px;border-bottom: 1px solid var(--fr-form-border);display: flex;align-items: center;gap: 10px;}
.text-editor{border: 1px solid var(--fr-form-border);--padding-editor: 0px 0px;padding: 10px;border-radius: var(--bs-border-radius);background-color: var(--bs-body-bg);}
.text-editor .editor, .text-editor .toolbar{border: none;outline: 0px;padding: var(--padding-editor);font-size: 0.91em;}
.text-editor .editor{padding: 5px 10px;max-height: 200px;overflow: auto;}
.text-editor .toolbar{display: inline-flex;align-items: center;justify-content: center;gap: 5px;}
.text-editor .editor p{margin-bottom: 5px}
.text-editor .editor>*:last-child{margin-bottom: 0px!important;}
.text-editor .text-button{background-color: var(--bs-btn-bg);border-radius: 4px;min-width: 28px;min-height: 28px;width: 28px;height: 28px;padding: 6px;display: flex;align-items: center;justify-content: center;flex: 0 0 28px;border: 0;color: var(--text-color);}
.text-editor .text-button i{--height: 100%;--width: 100%;color: var(--icon-color);}
.text-editor .text-button.rounded{border-radius: 50px!important;}
.text-editor .editor.editor-placeholder:before {content: attr(data-placeholder);pointer-events: none;font-style: normal;position: absolute;opacity: 0.4;}
.view_contents--chat-content .p-view-footer, .view_contents--chat-content .p-view-body{padding: 0px 0px;position: relative;}
.view_contents--chat-content .p-view-footer .text-editor{position: absolute;width: 100%;bottom: 0px;}
.text-editor .footer-action, .text-editor .footer-action .action-left{display: flex;justify-content: space-between;gap:10px;}
.text-editor .ql-editor {max-height: calc(60vh - 80px);overflow: auto;}
.view_contents--chat-content .p-view-footer{position: relative;max-height: 120px;padding: 0px 10px 10px;height: 100%;}
.client_workspace_wrapper{width: 100vw;height: calc(100vh - 40px);display: grid;grid-template-columns: 70px auto;grid-area: client_workspace_wrapper;grid-template: "tab-rail p-client-workspace" / 70px auto;}
.tab_rail{width: 70px;z-index: 1000;background-color: #0000;flex-direction: column;grid-area: tab-rail;align-items: center;row-gap: 12px;padding-top: 8px;display: flex;position: relative;align-items: center;padding-top: 8px;padding-bottom: 14px;height: 100%;}
.p-client-workspace{grid-template:"client_workspace__layout" 1fr"client__banners" / auto;grid-area: p-client-workspace;padding-bottom: 4px;padding-right: 4px;display: grid;position: relative;}
.client__banners {grid-area: client__banners;}
.workspace_banner {z-index: 999;position: relative;}
.client_workspace__layout {border-radius: 6px;position: relative;overflow: hidden;box-shadow: -4px -4px 16px #00000017;border: 1px solid var(--border-color);display: flex;}
.view_contents--sidebar{background-color:  var(--bg-secondary-color);height: calc(100vh -  44px);width: 300px;border-right: 1px solid var(--border-color);}
.view_contents--chat-content{width: calc(100% - 300px);height: calc(100vh - 45px);position: relative;}
.view_contents--chat-content .modal-invites-content{display: flex;align-items: center;justify-content: center;height: 100%;}
.view_contents--chat-content .modal-invites{background-color: var(--modal-bg);border-radius: var(--border-radius);max-width: 350px;width: 100%;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.view_contents--chat-content .modal-invites .invites-body{padding: 30px;}
.view_contents--chat-content .modal-invites .invites-footer{display: flex; gap: 10px;}
.p-client_workspace{padding-right: 5px;}
.text-editor .divider{background-color: var(--border-color);flex-shrink: 0;align-self: center;width: 1px;height: 20px;margin: 2px 4px;}
.bg-light {background-color: #f8f9fa;border: 1px solid #ddd;--bs-body-bg:white;padding: 20px;border-radius: 4px;--bs-heading-color: black;color: black;--bs-card-color:black;--bs-body-color: black}
.rotate-90{rotate: 90deg;}
.rotate-120{rotate: 120deg;}
.rotate-150{rotate: 150deg;}
.rotate-135{rotate: 135deg;}
.rotate-180{rotate: 180deg;}
.rotate-240{rotate: 240deg;}
.rotate--90{rotate: -90deg;}
.rotate--120{rotate: -120deg;}
.rotate--180{rotate: -180deg;}
.rotate--240{rotate: -240deg;}
.button-unstyled.account_switcher{display: flex;flex-direction: column;align-items: center;}
.editor .actions {display: flex;}
.editor .actions > span {align-items: center;background-color: lightgray;color: #000;cursor: pointer;display: flex;height: 28px;justify-content: center;margin: 0 3px 3px 0;text-align: center;width: 28px;}
.editor .actions > span svg {height: 20px;}
.editor .actions .dropdown button {align-items: center;background-color: lightgray;border: none;color: #000;cursor: pointer;display: flex;height: 28px;justify-content: center;margin-right: 3px;padding: 0;width: 28px;}
.editor .actions .dropdown button svg {height: 20px;}
.editor .actions .content {background-color: #f9f9f9;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);display: none;position: absolute;text-align: center;width: 28px;z-index: 1;}
.editor .actions .content > span {cursor: pointer;display: block;padding: 5px 0;text-decoration: none;}
.editor .actions .content span:hover {background-color: #f1f1f1;}
.editor .actions .dropdown:hover .content {display: block;}
.editor div.editable {box-sizing: border-box;cursor: text;display: block;font-weight: 400;margin-bottom: 10px;outline: none;padding: 5px;width: 100%;word-break: break-word;}
.editor div.editable:empty:before {color: #757575;content: attr(placeholder);display: block;font-size: 14px;font-weight: 400;}
.editor div.editable p {margin: 0;}
.editor div.editable img {max-width: 100%;}
.editor textarea {border: 1px dashed #aaa;box-sizing: border-box;display: block;margin-bottom: 10px;max-width: 100%;min-height: 100px;outline: none;width: 100%;}
.editor textarea:focus {border-color: #333;}
.editor .dropdown {position: relative;display: inline-block;}
.editor .button-view{position: relative;}

.message-wrapper{padding-top: 5px;}
.message-wrapper .c-virtual_list__item{width: 100%;position: sticky;padding: 2px;display: flex;align-items: center;justify-content: center;top: 8px;z-index: 5;}
.message-wrapper .c-virtual_list__item .date-message{padding: 5px 12px;font-size: var(--fs-13);font-weight: var(--fw-600);box-shadow:  0 1px 3px 0 #00000014;border-radius: 24px;border: 1px solid var(--fr-form-border);cursor: pointer;background: var(--bg-date);display: flex;align-items: center;justify-content: center;}
.messages_list .message-kit{font-size: var(--fs-14);user-select: text;word-wrap: break-word;}
.messages_list .message-kit .c-message_kit__gutter{display: grid;padding: 8px 20px;grid-template-columns: 50px auto;}
.messages_list .message-kit .c-message_kit__gutter .c-message_kit__gutter__left{flex-shrink: 0;margin-right: 8px;display: flex}
.messages_list .message-kit .c-message_kit__gutter .c-message_kit__gutter__left .common_icon_image{background-color: var(--bg-avatar-sender);user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-moz-user-select: none;}
.messages_list .message-kit .c-message_kit__gutter .c-message_kit__gutter__left .common_icon_image img{user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-moz-user-select: none;}
.messages_list .message-kit .c-message_kit__gutter .c-message_kit__gutter__right {flex: 1 1 0;min-width: 0;margin: -12px -8px -16px -12px;padding: 8px 8px 8px 16px;}
.messages_list .message-kit .c-message_kit__gutter .p-member_profile_hover_card{font-weight: var(--fw-700);}
.messages_list .message-kit .c-message_kit__gutter .offscreen{font-size: var(--fs-12); padding: 0px 5px;color: var(--secondary-2);}
.messages_list .message-kit .c-message_kit__gutter .c-message_kit__blocks{color: var(--secondary-3);line-height: 1.46668;}
.messages_list .message-kit .c-message_kit__hover:hover{background-color: var(--bg-message-hover);}
.message-grouped::before{content: "";border-bottom: 1px solid var(--fr-form-border);width: 100%;display: block;z-index: 0;position: relative;top: 18px;}

.emoji-content{
  position: absolute;
  height: 300px;bottom: 43px;
  width: 250px;
  background-color: var(--select-menu-select-bg);
  z-index: 19;
  box-shadow: var(--bs-box-shadow);
}
.emoji-content .emoji-section{
  padding: 0px 10px;
}
.emoji-content .emoji-list {
  display: flex;align-items: center;
  list-style: none;
  padding: 0px;flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'emoji';
}
.emoji-content .emoji-list li{max-width: 40px;height: 40px;display: flex;align-items: center;font-size: 23px;display: flex;align-items: center;justify-content: center;width: 100%;}
.emoji-content .emoji-type{padding: 10px;display: flex;align-items: center;justify-content: space-between;}
.emoji-content .search-emoji{padding-bottom: 10px;}
.emoji-content .search-emoji input{width: 100%;outline: none;}