
@font-face {
  font-family: 'TwemojiMozilla-Regular';
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.6px;
  src: local('TwemojiMozilla-colr'), url('./../public/emoji.woff2') format('truetype');
}

body.dark{
    --text-color: #f8f8f8;
    --bs-body-bg: #1b1e21!important;
    --primary-theme: #f8f8f840;
    --primary-theme-hover: #f8f8f814;
    --dt_blend-mode-interaction: lighten;
    --border-color: #797c814d;
    --bs-border-color: var(--border-color);
    --bg-secondary-color:#10121499;
    --bs-body-color: var(--text-color);
    --bs-emphasis-color: #4b5156;
    --bs-secondary-color: white;
    --bg-secondary-hover-color: white;
    --bs-dropdown-hover-bg: #2766a6;
    --fr-form-border: var(--border-color);
    --fr--hover-border-color:var(--border-color);
    --select-menu-color: white;
    --select-menu-select-color: white;
    --select-menu-select-bg: #383d41;
    --select-menu-focus-color: white;
    --select-menu-focus-bg: #666d75;
    --select-menu-item-bg-color: #383d41;
    --select-menu-bg-color: #383d41;
    --form-select-option-bg: #f8f8f814;
    --form-select-option: white;
    --sk_primary_foreground: 209, 210, 211;
    --sk_primary_background: 26, 29, 33;
    --sk_inverted_foreground: 26, 29, 33;
    --sk_inverted_background: 209, 210, 211;
    --sk_foreground_max: 232, 232, 232;
    --sk_foreground_high: 232, 232, 232;
    --sk_foreground_mid: 232, 232, 232;
    --sk_foreground_low: 232, 232, 232;
    --sk_foreground_soft: 232, 232, 232;
    --sk_foreground_min: 232, 232, 232;
    --sk_foreground_max_solid: 171, 171, 173;
    --sk_foreground_high_solid: 129, 131, 133;
    --sk_foreground_mid_solid: 81, 84, 87;
    --sk_foreground_low_solid: 53, 55, 59;
    --sk_foreground_soft_solid: 36, 39, 42;
    --sk_foreground_min_solid: 34, 37, 41;
    --sk_highlight: 29, 155, 209;
    --sk_highlight_hover: 64, 179, 228;
    --sk_highlight_accent: 29, 155, 209;
    --sk_secondary_highlight: 242, 199, 68;
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
    --modal-bg: #f8f8f814;
    --modal-bg-color: #f8f8f814;
    --bs-green-color: white;
    --bs-danger-color: white;
    --bs-dropdown-theme: #313436;
    --primary-theme: #f8f8f840;
    --primary-theme-hover: #f8f8f814;
  }
  body.light, body .white-theme{
    --text-color: black;
    --bs-body-bg: #ffffff !important;
    --primary-theme: var(--t-primary);
    --primary-theme-hover:  rgba(51, 49, 51, 0.312);
    --dt_blend-mode-interaction: lighten;
    --border-color: #dcdfe2;
    --bs-border-color: #xcbced3;
    --bg-secondary-color: #f0eded;
    --bs-body-color: #000000;
    --bs-emphasis-color: #c3c3c3;
    --bs-secondary-color: white;
    --bg-secondary-hover-color: white;
    --bs-dropdown-hover-bg: #f4f4f4;
    --fr-form-border: var(--border-color);
    --fr--hover-border-color:var(--border-color);
    --select-menu-color: black;
    --select-menu-select-color: white;
    --select-menu-select-bg: #3573c2;
    --select-menu-focus-color: white;
    --select-menu-focus-bg: #85aedf;
    --select-menu-item-bg-color: #f4f4f4;
    --select-menu-bg-color: #fafafa;
    --form-select-option-bg: white;
    --bs-body-active-color: white;

    --bg-avatar-sender:#f0eded;
    --bg-message-hover:#eaeced;
    --secondary-2:#828285;
    --secondary-3:black;
    --bg-date:#f0eded;
    --modal-bg: #f0eded;
    --modal-bg-color: #f8f8f814;
    --bs-green-color: white;
    --bs-danger-color: white;
    --bs-dropdown-theme: #f0eded;
  }